{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
 <script>
     var count = 1;
     var refresh = 1500;
     var freq = 1;
     $( document ).ready(function() {
         var id = $("#id").attr("value");
         console.log(id);
        $.get( "/images/" + id, function( data ) {
            console.log(data);
            var tid = setInterval(mycode, refresh);
            
            function mycode() {
                console.log("tick" + count);
                $("#frame").attr('src','/static/images/' + id + "/" +data[count] );
                
                count++;
                if(data.length <= count)
                    abortTimer();
}

            function abortTimer() { // to be called when you want to stop the timer
            clearInterval(tid);
            }
  
});

});
function option()
{
    console.log("selected option");
    var x = $("#fps").value;
    freq = parseFloat(x);
    console.log(x);
}

function refreshOption()
{
    console.log("selected option");
    var x = $("#refresh").value;
    x  *= 1000;
    console.log(x);

}
function send(state)
{
    var payload = {
        frame:  $("#frame").attr("src").split("/")[4],
        label: state
    };
    
    
    if( state == "play") 
        $(".status").css( "background-color", "green" );
    if(state == "stop") 
        $(".status").css( "background-color", "gray" );
    var id = $("#id").attr("value");
    console.log("@@@@@@@@@@@@@@@@@@sending  " + JSON.stringify(payload));
    $.ajax({
  type: "POST",
  contentType: "application/json; charset=utf-8",
  url: "/label/" + id,
  data: JSON.stringify(payload),
  success: function (data) {
    console.log(data);
    
  },
  dataType: "json"
});
}

     </script>
{% endblock %}
{% block content %}
     <input id="id" type="hidden" value="{{video}}">
  <h1>Index</h1>
  <div id="header" style="border: 1px solid gray; padding: 2px; margin-bottom: 5px;">
      <h2>{{file_name}}</h2>
      Sample Rate (Seconds between Frames): <select id="fps" onchange="option();">
          <option>1 </option>
          <option>1.5 </option>
          <option>2 </option>
          <option>2.5 </option>
          <option>3 </option>

      </select>
      <br/>
       Refresh Rate (Duration Frame is Displayed): <select id="refresh" onchange="refreshOption();">
          <option>0.5 </option>
          <option>1 </option>
          <option>1.5 </option>
          <option>2 </option>
          <option>3 </option>

      </select>
        
  </div>
  <div id="main">
      <img id="frame" src="" width="800">
      <div id="label">
         <button class="button" onclick="send('play');">Playing</button>
         <button class="button stop" onclick="send('stop');">Stopped</button>
          
      </div>
      <div class="result">
          <div class="status">
                Current Status
          </div>
      </div>
      
  </div>
{% endblock %}